// Place all the styles related to the questionary_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.q_new {
    border: solid 1px;
    margin: 20px 50px;
    padding: 20px 20px;
}

.q_id {
    color: #e49b9b;
    font-size: 20pt;
    margin: 50px 50px;
    text-align: left;
}