// Place all the styles related to the questionary_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.q_id {
    color: #e49b9b;
    font-size: 20pt;
    margin: 50px 50px;
    text-align: left;
}